.div_menu {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 60px;
  background-color: white;
  border: 1px solid var(--color-purple);
  border-radius: 5px;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 100px;
  right: 105px;

  & > button {
    text-align: start;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #7a64db;
    }
  }
}
