.li_cards {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-purple);
  border-radius: 5px;
  padding: 15px;
  gap: 5px;
  // background-image: linear-gradient(
  //   360deg,
  //   #a685e6 0%,
  //   #9279f0 25%,
  //   #7a64db 50%,
  //   #6450c8 75%,
  //   #503cb5 100%
  // );

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: right;

    div {
      margin-bottom: 10px;
    }
  }

  .edit_remove_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
