.cards_list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & > .plus_button {
    display: flex;
    flex-direction: row;
    justify-content: right;

    & > button {
      display: flex;
      gap: 5px;
      align-items: center;
      border: 2px solid var(--color-purple);
      border-radius: 5px;
      padding: 10px;

      &:hover {
        border: 2px solid var(--color-purple);
        background-color: var(--color-purple2);
      }
    }
  }

  & > .title_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
